HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
apache-maven-3.9.15
apache-maven-3.9.15-bin.zip
monitored_directory



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env
secrets/

client-app\clientapp\target
filesyncserver\target
karim-cert.cer
keystore.p12
client-app/clientapp/config*
client-app\clientapp\clients\**